[submodule "femscript"]
	path = femscript
	url = https://github.com/czubix/femscript
[submodule "scheduler"]
	path = scheduler
	url = https://github.com/czubix/scheduler
[submodule "femcord"]
	path = femcord
	url = https://github.com/czubix/femcord
