TOKEN = "NDY3OTgyMDYwODU0NzA2MTc2.reszta tokenu engara"
OWNERS = "mesik", "dżelnisław"
PREFIX = "labs"

PROXIES = {
    "cheems.dog": "152.70.188.50",
    "6vz-contabo": "194.163.156.17",
    "cheems-radio": "34.116.205.213"
}

PROXY_USERNAME = "chuj"
PROXY_PASSWORD = "chuj69"

PROXY_TEMPLATE = "http://squid:O17I6raWwnx7d03hGE23387NC4mISiSisEiRgalOVN4Ta6RlhcLvbv7xUBVqWYXe@{}:3128"

DB_CONFIG = {
    "connections": {
        "default": {
            "engine": "tortoise.backends.mssql",
            "credentials": {
                "host": "147.135.208.146",
                "port": 2137,
                "user": "piesvz",
                "password": "kochamstupkimesikajatezW6idQ7F4J2gum",
                "database": "cheems-dog"
            }
        }
    },
    "apps": {
        "models": {
            "models": [
                "models"
            ]
        }
    }
}

LAVALINK_IP = "152.70.188.50"
LAVALINK_PORT = 6969
LAVALINK_PASSWORD = "kochamstupki6vza"

LASTFM_API_URL = "http://ws.audioscrobbler.com/2.0/"
LASTFM_API_KEY = "dawjkldjawkldjawkljdkalwjdklaj"
LASTFM_API_SECRET = "dawkjdklwajdkljawkdljwakdjawkd"

MUSIXMATCH = "ahdjkwhdjkawhdjkwha"
GENIUS = "lubie stupki mesika2"

WEATHER_API_KEY = "UwU bemowo tory review #jestem_emo"

POLIGON_LGBT_API_KEY = "poligon!"
POLIGON_LGBT_UPLOAD_KEY = "https://www.youtube.com/watch?v=jrhNmHJzvLU"

GITHUB_CLIENT_ID = "mesik usiadz mi na twarzy :hot_face:"
GITHUB_CLIENT_SECRET = "stupki mesika sa hot :hot_face:"

LOCAL_API_BASE_URL = "http://cenzura-api.poligon.lgbt/"

FEMBOT_SOCKET_PATH = "/tmp/fembot.sock"
DASHBOARD_SOCKET_PATH = "/tmp/dashboard.sock"

DASHBOARD_HOST = "9999.9999.9999.9999"
DASHBOARD_PORT = 121352322

CLIENT_ID = "123123212312"
CLIENT_SECRET = "penis"