TOKEN = "NDY3OTgyMDYwODU0NzA2MTc2.reszta tokenu engara"
OWNERS = "mesik", "dżelnisław"
PREFIX = "labs"

PROXIES = {
    "cheems.dog": "152.70.188.50",
    "6vz-contabo": "194.163.156.17",
    "cheems-radio": "34.116.205.213"
}

PROXY_TEMPLATE = "socks5://<username>:<password>@{}:<port>"

DB_CONFIG = {
    "connections": {
        "default": {
            "engine": "tortoise.backends.mssql",
            "credentials": {
                "host": "147.135.208.146",
                "port": 2137,
                "user": "piesvz",
                "password": "kochamstupkimesikajatezW6idQ7F4J2gum",
                "database": "cheems-dog"
            }
        }
    },
    "apps": {
        "models": {
            "models": [
                "models"
            ]
        }
    }
}

LAVALINK_IP = "152.70.188.50"
LAVALINK_PORT = 6969
LAVALINK_PASSWORD = "kochamstupki6vza"

LASTFM_API_URL = "http://ws.audioscrobbler.com/2.0/"
LASTFM_API_KEY = "dawjkldjawkldjawkljdkalwjdklaj"
LASTFM_API_SECRET = "dawkjdklwajdkljawkdljwakdjawkd"

MUSIXMATCH = "ahdjkwhdjkawhdjkwha"
GENIUS = "lubie stupki mesika2"